.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #0f172a;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(56, 189, 248, 0.4);

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;

    li a {
      position: relative;
      color: white;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease;
      padding-bottom: 5px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #38bdf8;
        transition: width 0.3s ease;
      }

      &:hover {
        color: #38bdf8;

        &::after {
        width: 100%;
      }

      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #1e293b;
      flex-direction: column;
      padding: 1rem 0;
      display: none;

      &.open {
        display: flex;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;

    span {
      height: 3px;
      width: 25px;
      background: white;
      transition: all 0.3s ease;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg) translateY(8px);
    }

    &.open span:nth-child(2) {
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg) translateY(-8px);
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}
