// src/components/Blog.scss

.blog-section {
  padding: 4rem 2rem;
  background-color: #0f172a;
  text-align: center;

  scroll-snap-align: start;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #bfcd2a;
  }

  .blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;

    .blog-card {
      background-color: #0f172a;
      box-shadow: 0 0 15px rgba(252, 253, 253, 0.4);
      border-radius: 12px;
      padding: 2rem;
      text-align: left;
      transition: box-shadow 0.3s ease;
      

      .blog-info {
        h3 {
          font-size: 1.5rem;
          color: #0ea5e9;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1rem;
          color: #334155;
          margin-bottom: 0.75rem;
        }

        span {
          display: block;
          font-size: 0.85rem;
          color: #94a3b8;
          margin-bottom: 1rem;
        }

        .read-more {
          font-weight: 600;
          color: #38bdf8;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: #0ea5e9;
          }
        }
      }
    }
  }
}
