.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1; 
  display: flex;
  overflow: hidden;
  height: calc(100vh - 72px);
}

.leftLayout {
  flex: 3;
  position: sticky;
  overflow-y: auto; 
}
.leftLayout::-webkit-scrollbar {
  width: 5px; 
  height: 8px; 
}

.leftLayout::-webkit-scrollbar-thumb {
  background-color: #38bdf8; 
  border-radius: 4px;
  border: 2px solid #1e293b;
}
.leftLayout::-webkit-scrollbar-thumb:hover {
  background-color: #0ea5e9;
}


.rightLayout {
  flex: 7;
  overflow-y: auto;
  scroll-snap-type: y mandatory;  
  scroll-behavior: smooth;     
}
.rightLayout::-webkit-scrollbar {
  display: none;
}
.rightLayout {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.mobileSidebar {
  width: 100%;
  background-color: #0f172a;
  padding: 10px 0;
  scroll-snap-align: start;
}

@media (max-width: 768px) {
  .leftLayout {
    display: none;
  }
}
